In [170]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import re
from sklearn.preprocessing import LabelEncoder
from tabulate import tabulate

In [171]:
df = pd.read_csv("../datasets/abalone.csv")
df[:5]

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [172]:
le =LabelEncoder()

In [173]:
df.Sex = le.fit_transform(df.Sex)

In [174]:
df

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,2,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,2,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,1,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,2,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,2,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,2,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [175]:
df[:5]

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,2,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,2,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,1,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [176]:
print(df.corr())

                     Sex    Length  Diameter    Height  Whole weight  \
Sex             1.000000 -0.036066 -0.038874 -0.042077     -0.021391
Length         -0.036066  1.000000  0.986812  0.827554      0.925261
Diameter       -0.038874  0.986812  1.000000  0.833684      0.925452
Height         -0.042077  0.827554  0.833684  1.000000      0.819221
Whole weight   -0.021391  0.925261  0.925452  0.819221      1.000000
Shucked weight -0.001373  0.897914  0.893162  0.774972      0.969405
Viscera weight -0.032067  0.903018  0.899724  0.798319      0.966375
Shell weight   -0.034854  0.897706  0.905330  0.817338      0.955355
Rings          -0.034627  0.556720  0.574660  0.557467      0.540390

                Shucked weight  Viscera weight  Shell weight     Rings
Sex                  -0.001373       -0.032067     -0.034854 -0.034627
Length                0.897914        0.903018      0.897706  0.556720
Diameter              0.893162        0.899724      0.905330  0.574660
Height                0.774972        0.798319      0.817338  0.557467
Whole weight          0.969405        0.966375      0.955355  0.540390
Shucked weight        1.000000        0.931961      0.882617  0.420884
Viscera weight        0.931961        1.000000      0.907656  0.503819
Shell weight          0.882617        0.907656      1.000000  0.627574
Rings                 0.420884        0.503819      0.627574  1.000000

In [177]:
lr = LinearRegression()

In [178]:
rings = df['Rings']
df = df.drop(columns=['Sex','Rings'])
x=df

In [179]:
df.corr()
from sklearn.metrics import r2_score

In [180]:
results = []
for split_ratio in [i/10 for i in range(1, 10)]:
    X_train, X_test, Y_train, Y_test =train_test_split(x,rings,test_size=split_ratio,random_state=42)
    lr.fit(X_train,Y_train)
    Y_predict=lr.predict(X_test)
    r2_s = r2_score(Y_test,Y_predict)
    results.append([split_ratio, r2_s])

print(tabulate(results, headers=["Train Ratio", "R2_Score"], tablefmt="pretty"))

+-------------+--------------------+
| Train Ratio |      R2_Score      |
+-------------+--------------------+
|     0.1     | 0.5637135115583666 |
|     0.2     | 0.532984475772452  |
|     0.3     | 0.5150025424490755 |
|     0.4     | 0.509002785401981  |
|     0.5     | 0.5151870530368932 |
|     0.6     | 0.5116454003641373 |
|     0.7     | 0.5053508076259079 |
|     0.8     | 0.5173857961986168 |
|     0.9     | 0.5050102291874924 |
+-------------+--------------------+